<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="page_head">
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Home Page</title>
    <link rel="icon" href="/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" th:href="@{/css/__${fragment}__.css}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>

<body>

<div th:each="gesture : ${gestures}">
    <button
            class="gesture-button btn btn-outline-primary m-2"
            data-bs-toggle="modal"
            data-bs-target="#gestureModal"
            th:data-id="${gesture.id}"
            th:data-name="${gesture.name}"
    >
        <img th:src="@{'/images/' + ${gesture.name} + '.png'}" th:alt="${gesture.name}" width="100"/>
    </button>
</div>

<!--HOME PAGE FRAGMENT-->
<div th:fragment="homePage">
    <script src="/js/homePage.js"></script>
    <div class="home-page-container">
        <div class="gesture-box">
            <span class="topic-name">GESTURES</span>
            <div class="gestures">
                <div th:each="gesture : ${gestures}">
                    <button class="gesture-button" th:value="${gesture.id}"
                            data-bs-toggle="modal"
                            data-bs-target="#gestureModal"
                            th:data-id="${gesture.id}"
                            th:data-title="${gesture.title}"
                            th:data-name="${gesture.name}"
                    >
                        <img th:src="@{${'/images/'+gesture.name + '.png'}}" th:alt="${gesture.name}"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="last-events">
            <span class="topic-name">ПОСЛЕДНИЕ ДЕЙСТВИЯ</span>
            <div class="event-table">
                <table class="table table-bordered ">
                    <thead>
                    <tr>
                        <th scope="col">Дата и время</th>
                        <th scope="col">Жест</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event : ${events}" th:unless="${events.isEmpty()}">
                        <td>[[${event.dateTime}]]</td>
                        <td>[[${event.gesture}]]</td>
                    </tr>
                    <tr th:if="${events.isEmpty()}">
                        <td colspan="2" style="text-align: center;">Список событий пуст</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade rounded-lg" id="gestureModal" tabindex="-1" aria-labelledby="gestureModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form id="gestureForm" method="post" th:action="@{/gestures}">
                <input type="hidden" name="gestureId" id="gestureIdInput"/>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="gestureNameLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <img id="gesturePreview" src="" alt="Предпросмотр жеста" class="img-fluid rounded my-2"/>
                    </div>
                    <div class="modal-footer d-flex justify-content-evenly">
                        <button type="submit" class="btn"
                                style="color: #FFFFFF; background-color: var(--success-color)">Выполнить
                        </button>
                        <button type="button" class="btn" data-bs-dismiss="modal"
                                style="color: #FFFFFF; background-color: var(--danger-color)">Закрыть
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--SCENARIO FRAGMENT-->
<div th:fragment="scenario">
    <script src="/js/scenario.js"></script>
    <div class="scenario-container">
        <div class="gesture-box">
            <span class="topic-name">GESTURES</span>
            <div class="gestures">
                <div th:each="gesture : ${gestures}">
                    <button class="gesture-button" th:value="${gesture.id}">
                        <img th:src="@{${'/images/'+gesture.name + '.png'}}" th:alt="${gesture.name}" th:value="${gesture.id}"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="scenario-box">
            <span class="topic-name">SCENARIO</span>
            <div class="scenario-gesture-button-box">
                <div class="gesture-scenario-box"></div>
                <div class="arrow-right"></div>
                <div class="gesture-scenario-box"></div>
                <div class="arrow-right"></div>
                <div class="gesture-scenario-box"></div>
                <div class="arrow-right"></div>
                <div class="gesture-scenario-box"></div>
                <div class="arrow-right"></div>
                <div class="gesture-scenario-box"></div>
            </div>
        </div>
        <div class="scenario-button-box">
            <div style="display:flex; gap: 30px">
                <button class="btn btn-outline-primary" id="exportButton">Экспортировать сценарий</button>
                <button class="btn btn-outline-primary" id="importButton">Импортировать сценарий</button>
            </div>
            <div>
                <form th:action="@{/scenario}" method="post" id="scenarioForm">
                    <input type="hidden" name="scenario" id="scenarioInput" />
                    <button class="btn btn-outline-success" type="submit" id="inputButton">Выполнить сценарий</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--History-->
<div th:fragment="history">
    <div class="history-container">
        <table class="table  table-bordered table-hover table-responsive-xl">
            <thead class="" style="background-color: var(--regular-color)">
            <tr>
                <th th:replace="~{fragments/fragments::column_link('/history','dateTime','Дата и время')}"/>
                <th th:replace="~{fragments/fragments::column_link('/history','gesture','Жест')}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event: ${pageContainer.list()}">
                <td>[[${event.dateTime}]]</td>
                <td>[[${event.gesture}]]</td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/fragments::pagination('/history','Действия')}"></div>
    </div>
</div>

<!--TABLE FRAGMENT-->
<th th:fragment="column_link(moduleURL, fieldName, columnLabel)">
    <a th:href="@{${moduleURL}+'?page='+${pageContainer.currentPage}+'&sort='+${fieldName}+','+${pageContainer.sortField != fieldName ? pageContainer.sortDir : pageContainer.reverseSortDir}+${pageContainer.keyword != null ? '&keyword='+pageContainer.keyword : ''}}"
       class="text-decoration-none" style="color: #FFFFFF">
        [[${columnLabel}]]
    </a>

    <span th:if="${pageContainer.sortField == fieldName}"
          th:text="${pageContainer.sortDir == 'ASC' ? '↓' : '↑'}"
          class="ms-2" style="color: #FFFFFF"></span>
</th>

<a th:fragment="page_link(moduleURL,pageNum,label)" class="page-link"
   th:href="@{${moduleURL}+'?page='+${pageNum}+'&sortField='+${pageContainer.sortField} +'&sortDir='+${pageContainer.sortDir}+${pageContainer.keyword != null ? '&keyword='+pageContainer.keyword:''}}">[[${label}]]</a>

<div th:fragment="pagination(moduleURL,entityName)" th:remove="tag">
    <div class="text-center m-3" th:if="${pageContainer.totalItems} > 0">
        <span class="text-muted">
            Показаны [[${entityName}]] # [[${pageContainer.startCount}]] по [[${pageContainer.endCount}]] из [[${pageContainer.totalItems}]]
        </span>
    </div>

    <div class="text-center m-3" th:unless="${pageContainer.totalItems} > 0">
        <span class="text-warning">[[${entityName}]] не найдены</span>
    </div>

    <div th:if="${pageContainer.totalPages > 0}">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li th:class="${pageContainer.currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: page_link(${moduleURL},'1','Первая')}"
                       class="page-link"></a>
                </li>

                <li th:class="${pageContainer.currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: page_link(${moduleURL},${pageContainer.currentPage-1},'Предыдущая')}"
                       class="page-link"></a>
                </li>

                <li th:class="${pageContainer.currentPage+1 != i ? 'page-item' : 'page-item active'}"
                    th:each="i:${#numbers.sequence(1, pageContainer.totalPages)}">
                    <a th:replace="~{fragments/fragments :: page_link(${moduleURL}, ${i-1}, ${i})}"
                       class="page-link"></a>
                </li>

                <li th:class="${pageContainer.currentPage + 1 < pageContainer.totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: page_link(${moduleURL}, ${pageContainer.currentPage + 1}, 'Следующая')}"
                       class="page-link"></a>
                </li>

                <li th:class="${pageContainer.currentPage + 1 < pageContainer.totalPages ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="~{fragments/fragments :: page_link(${moduleURL}, ${pageContainer.totalPages}, 'Последняя')}"
                       class="page-link"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<!--Exception toaster-->
<div th:fragment="exceptionToastActivator" th:remove="tag">
    <div id="exception-message" th:if="${exceptionMessage != null}" th:data-message="${exceptionMessage}" style="display:none;"></div>
    <div th:replace="~{fragments/fragments::exceptionToast}"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const msgContainer = document.getElementById("exception-message");
            if (msgContainer) {
                const message = msgContainer.getAttribute("data-message");
                showToast(message);
            }
        });
        function showToast(message) {
            const toastText = document.getElementById("toastText");
            toastText.textContent = message;
            const toast = new bootstrap.Toast(document.getElementById("toast"));
            toast.show();
        }
    </script>
</div>
<div th:fragment="exceptionToast">
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
        <div id="toast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <p id="toastText"></p>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Закрыть"></button>
            </div>
        </div>
    </div>
</div>

<!--Success toaster-->
<div th:fragment="successToastActivator" th:remove="tag">
    <div id="success-message" th:if="${successMessage != null}" th:data-message="${successMessage}" style="display:none;"></div>
    <div th:replace="~{fragments/fragments::successToast}"></div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const msgContainer = document.getElementById("success-message");
            if (msgContainer) {
                const message = msgContainer.getAttribute("data-message");
                showSuccessToast(message);
            }
        });
        function showSuccessToast(message) {
            const toastText = document.getElementById("successToastText");
            toastText.textContent = message;
            const toast = new bootstrap.Toast(document.getElementById("successToast"));
            toast.show();
        }
    </script>
</div>
<div th:fragment="successToast">
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 9999">
        <div id="successToast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <p id="successToastText"></p>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Закрыть"></button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="changePasswordModal">
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Изменение пароля</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="passwordChangeForm" method="post">
                        <div class="input-wrapper">
                            <input type="password" class="form-control" minlength="8"
                                   maxlength="30" id="currentPassword" name="currentPassword" required placeholder="Текущий пароль">
                            <button type="button" class="toggle-password" onclick="togglePassword('currentPassword')">
                                <span id="show-button-text-currentPassword">Показать</span>
                            </button>
                        </div>
                        <div class="input-wrapper">
                            <input type="password" class="form-control" minlength="8"
                                   maxlength="30" id="newPassword" name="newPassword" required placeholder="Новый пароль">
                            <button type="button" class="toggle-password" onclick="togglePassword('newPassword')">
                                <span id="show-button-text-newPassword">Показать</span>
                            </button>
                        </div>
                        <div class="input-wrapper">
                            <input type="password" class="form-control" minlength="8"
                                   maxlength="30" id="confirmPassword" name="confirmPassword" required placeholder="Подтвердите новый пароль">
                            <button type="button" class="toggle-password" onclick="togglePassword('confirmPassword')">
                                <span id="show-button-text-confirmPassword">Показать</span>
                            </button>
                        </div>
                        <button type="button" class="btn btn-primary" id="savePasswordBtn">Сохранить изменения</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>