<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/homePage.css">

</head>
<body>
<div class="container">
    <div class="sidebar" id="sidebar">
        <div class="header">
            <button class="header-button">
                <span class="hover-underline-animation left">Andrew Smith</span>
            </button>
        </div>
        <hr class="line"/>
        <div class="menu-container">
            <ul class="menu">
                <li>
                    <button class="menu-button">
                        <img class="button-icon" src="/images/Home-page.png"
                                 alt="Home Page Image"><span>Home page</span>
                    </button>
                </li>
                <li>
                    <button class="menu-button">
                        <img class="button-icon" src="/images/Account.png" alt="Account Image"><span>Account</span>
                    </button>
                <li>
                    <button class="menu-button">
                        <img class="button-icon" src="/images/Notification.png"
                             alt="Notification Image"><span>Notification</span>
                    </button>
                <li>
                    <button class="menu-button">
                        <img class="button-icon" src="/images/Recent.png" alt="Recent Image"><span>Recent</span>
                    </button>
                <li>
                    <button class="menu-button">
                        <img class="button-icon" src="/images/Scenarios.png"
                             alt="Scenarios Image"><span>Scenarios</span>
                    </button>
                </li>
            </ul>
        </div>
        <hr class="line"/>
        <div class="footer">
            <button class="footer-button help-button">
                <img class="button-icon" src="/images/Help.png"
                     alt="Scenarios Image"><span class="hover-underline-animation left">Help</span>
            </button>
            <button class="footer-button logout-button">
                <img class="button-icon" src="/images/Logout.png"
                     alt="Scenarios Image"><span class="hover-underline-animation left">Logout account</span>
            </button>
        </div>
    </div>
    <div class="main-content">
        <div class="header ">
            <span>HOME PAGE</span>
        </div>
        <div class="content">

        </div>
    </div>
</div>
</body>
</html>