<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{fragments/fragments::page_head}"></th:block>
</head>
<body>
<div class="page-container">
    <script src="/js/webSocketNotification.js"></script>
    <script src="/js/accountChangePassword.js"></script>
    <div class="page-sidebar" id="sidebar">
        <div class="sidebar-header">
            <button class="header-button">
                <span class="left" th:text="${username}">Andrew Smith</span>
            </button>
            <button class="header-button" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
                <span class="hover-underline-animation left">Изменить пароль</span>
            </button>
        </div>
        <hr class="line"/>
        <div class="menu-container">
            <ul class="menu">
                <li>
                    <button class="menu-button"
                            th:classappend="${fragment.equals('homePage')} ? ' active'"
                            onclick="document.location='/home'">
                        <img class="button-icon" src="/images/Home-page.png" alt="Home Page Image">
                        <span>Главная страница</span>
                    </button>
                </li>
                <li>
                    <button class="menu-button"
                            th:classappend="${fragment.equals('notification')} ? ' active'"
                            onclick="document.location='/notifications'">
                        <img class="button-icon" src="/images/Notification.png" alt="Notification Image">
                        <span>Уведомления</span>
                    </button>
                </li>
                <li>
                    <button class="menu-button"
                            th:classappend="${fragment.equals('history')} ? ' active'"
                            onclick="document.location='/history'">
                        <img class="button-icon" src="/images/Recent.png" alt="Recent Image">
                        <span>История</span>
                    </button>
                </li>
                <li>
                    <button class="menu-button"
                            th:classappend="${fragment.equals('scenario')} ? ' active'"
                            onclick="document.location='/scenario'">
                        <img class="button-icon" src="/images/Scenarios.png" alt="Scenarios Image">
                        <span>Сценарий</span>
                    </button>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')">
                    <button class="menu-button"
                            th:classappend="${fragment.equals('logs')} ? ' active'"
                            onclick="document.location='/admin/logs'">
                        <img class="button-icon" src="/images/logs.svg" alt="Logs Image">
                        <span>Логи</span>
                    </button>
                </li>
                <li sec:authorize="hasAuthority('ADMIN')">
                    <button class="menu-button"
                            th:classappend="${fragment.equals('users')} ? ' active'"
                            onclick="document.location='/admin/users'">
                        <img class="button-icon" src="/images/users.svg" alt="Users Image">
                        <span>Пользователи</span>
                    </button>
                </li>
            </ul>
        </div>
        <hr class="line"/>
        <div class="sidebar-footer">
            <button class="footer-button help-button">
                <img class="button-icon" src="/images/Help.png"
                     alt="Help Image"><span class="hover-underline-animation left">Помощь</span>
            </button>
            <form th:action="@{/logout}" method="post" name="logoutForm">
                <button id="logoutLink" class="footer-button logout-button" type="submit">
                    <img class="button-icon" src="/images/Logout.png"
                         alt="Logout account image"><span
                        class="hover-underline-animation left">Выйти из аккаунта</span>
                </button>
            </form>
        </div>
    </div>
    <div class="main-content">
        <div class="header">
            <span th:text="${pageTitle}"></span>
        </div>
        <div class="content">
            <div th:replace="~{fragments/fragments::__${fragment}__}"></div>
        </div>
    </div>
</div>
<div th:insert="~{fragments/fragments::exceptionToastActivator}"></div>
<div th:insert="~{fragments/fragments::successToastActivator}"></div>
<div th:insert="~{fragments/fragments::changePasswordModal}"></div>
</body>
</html>